<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>libTO</title>
</head>
<body class="dark-theme">

<section class="hero-landing">
    <div class="hero-content">
        <h1>libTO</h1>
        <p>Civic Intelligence App that leverages Toronto Public Library open data into actionable operational insights.</p>
        <div class="hero-btns">
            <a href="/dashboard" class="cta-button-red">Go to LibTO</a>
        </div>
    </div>
</section>

<section class="pillars-section">
    <div class="pillars-container">
        
        <div class="pillar-card">
            <div class="pillar-icon"></div>
            <h2>Overview</h2>
            <p>A high level view of the TPL network.</p>
            
        </div>

        <div class="pillar-card">
            <div class="pillar-icon"></div>
            <h2>Branch Intelligence</h2>
            <p>Provides insights into library operations</p>
            
        </div>

        <div class="pillar-card">
            <div class="pillar-icon"></div>
            <h2>Events & Programs</h2>
            <p>Inquire about library events and programs with a personalized touch.</p>
            
        </div>

    </div>
</section>

<footer>
    <p>&copy; 2026 libTO</p>
</footer>

</body>
</html>
